@model TravelJurnal.Models.Entry

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripId" class="control-label"></label>
                <select asp-for="TripId" class ="form-control" asp-items="ViewBag.TripId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <select asp-for="DestinationId" class ="form-control" asp-items="ViewBag.DestinationId"></select>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    html {
        font-size: 14px;
    }

    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin: 10px; /* Remove default margin */
        margin-bottom: 60px; /* Bottom margin for content */
        height: 100vh; /* Full viewport height */
        background-image: url('/images/backimage.jpg'); /* Primary background image */
        background-size: cover; /* Cover the entire background */
        background-repeat: no-repeat; /* Prevent repeating the image */
        background-position: center; /* Center the image */

    }
</style>