@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TravelJurnal.Models.TravellerProfile

@{
    ViewData["Title"] = "Create Profile";
}

<h1>Create Profile</h1>

<h4>TravellerProfile</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="TravellerName"></label>
        <input asp-for="TravellerName" class="form-control" />
        <span asp-validation-for="TravellerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TravellerEmail"></label>
        <input asp-for="TravellerEmail" class="form-control" />
        <span asp-validation-for="TravellerEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="ProfilePicture">Profile Picture</label>
        <input type="file" name="profilePictureFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
